#nav {
	display: inline-table;
	background-image: #212121;
	padding: 0;
	margin: 0;
	height: 34px;
	z-index: 9999;
  position: fixed;
	left: 10px;
	top: 10px;
	list-style: none;
	text-align: left;
}

#nav li {
	text-align: center;
	display: inline-table;
	float: left;
	height: 34px;
	margin: 0;
	padding: 0;
  position: relative;
}

#nav li a {
	float: left;
	height: 35px;
	width: 35px;
	color: #ccc;
	background-image: #212121;
	font-size: 0.9em;
	margin-left: 0px;
	outline: 3px solid black;
}

#nav li a:hover {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
	color: #99ff00;
}

#nav li a.active {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
	font-weight: bold;
}

#nav li a.active:hover {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
	font-weight: bold;
}

#nav li.sep {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
	width: 80px;
	height: 34px;
	float: left;
}

#nav li ul {
	display: none;
	width: 80px;
	position: absolute;
	top: 34px;
	left: 0;
	margin: 0;
	padding: 0;
}

#nav li ul li {
  	border: 0;
  	height: 25px;
  	color: #99FF00;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
  	margin: 0;
}

#nav li ul li a {
	display: inline-table;
  	height: 25px;
  	width: 85px;
  	padding: 0 20px 0 15px;
  	border-top: 1px #333 solid;
  	white-space: nowrap;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
  	color: white;
  	text-align: left;
  	line-height: 25px;
  	font-weight: normal;
}

#nav li ul li a:hover {
  	color: #99FF00;
  	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
}

#nav li ul li ul {
	display: none;
	width: 80px;
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0;
	padding: 0;
}

#nav li ul li ul li {
  	border: 0;
  	height: 25px;
  	color: #99FF00;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
  	margin: 0;
}

#nav li ul li ul li a {
	display: inline-table;
  	height: 25px;
  	width: 55px;
  	padding: 0 20px 0 15px;
  	border-top: 1px #333 solid;
  	white-space: nowrap;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
  	color: white;
  	text-align: left;
  	line-height: 25px;
  	font-weight: normal;
}

#nav li ul li ul li a:hover {
  	color: #99FF00;s
  	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
}

#nav li ul li ul li ul {
	display: none;
	width: 80px;
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0;
	padding: 0;
}

#nav li ul li ul li ul li {
  	border: 0;
  	height: 25px;
  	color: #99FF00;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
  	margin: 0;
}

#nav li ul li ul li ul li a {
	display: inline-table;
  	height: 25px;
  	width: 55px;
  	padding: 0 20px 0 15px;
  	border-top: 1px #333 solid;
  	white-space: nowrap;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
  	color: white;
  	text-align: left;
  	line-height: 25px;
  	font-weight: normal;
}

#nav li ul li ul li ul li a:hover {
  	color: #99FF00;s
  	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(72, 72, 72, 1));
}

/* Hacks for Opera to fix the drop down menu problem */
html:first-child #nav li a {
	float: none;
	height: 34px;
	padding-top: 0;
	line-height: 34px;
	display: inline-table;
}
html:first-child #nav li ul li a {
  	height: 25px;
  	line-height: 25px;
}
